* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}

a {
  font-family: Impact, Charcoal, sans-serif;
  text-decoration: none;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:active {
  color: red;
}
